:root {
  --size-min-window: 800px;
  --size-max-window: 1296px;
}

body {
  overflow-y: hidden;
}

p {
  word-break: break-word;
}

code {
  // TODO: color not in SDS
  color: rgb(121, 229, 213);
  font-family: var(--font-family-monospace);
  border-radius: 0.1875rem;
  border: 0.5px solid var(--color-background-off);
  background-color: var(--color-background-secondary);
  padding: 0 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: var(--font-weight-medium);
  display: inline;
  line-break: anywhere;
}

@mixin header-footer-inset {
  height: 5rem;
  display: flex;
  align-items: center;
}

@mixin header-footer-vertical-padding {
  padding-top: 1rem;
}

.Wrapper {
  min-width: var(--size-min-window);
  display: flex;
  flex-grow: 1;
  position: relative;
}

.SplitContainer {
  display: flex;
  width: 100%;
  position: relative;
}

.ContentWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.Announcement {
  background-color: rgba(255,255,255, 0.0);
  color: var(--color-text-contrast);
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 10rem 0;  //vertical padding
  // change anchor text to reflect same color as the rest of the announcment
  .TextLink {
    color: inherit;
  }
}

.Main {
  background-color: var(--color-background-main);
  transition: all 0.5s;
  overflow: hidden;
}

.Inset {
  position: relative;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: var(--size-max-window);
}

.Header {
  @include header-footer-vertical-padding;
  padding-bottom: 1rem;

  .Inset {
    @include header-footer-inset;
    justify-content: space-between;
  }
  display: flex;
  flex-shrink: 1;
}

.Footer {
  @include header-footer-vertical-padding;

  .Inset {
    @include header-footer-inset;
    justify-content: space-between;

    a:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  display: flex;
  flex-shrink: 1;
}

.IntroText {
  background: rgba(14, 9, 9, 0);
  min-height: 30vh;
  width: 1200px;
  top: 30px;
  border-radius: 2;
  box-shadow: 0 3px 10px rgba(0,0,0,5);
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  padding: 70px;
  background: linear-gradiant(
    to right bottom,
    rgba(148, 78, 206, 0.9),
    rgba(121, 229, 213, 0.8), 
  );
   border-radius: 2rem;
   z-index: 1;
   backdrop-filter: blur(2rem);
   display: flex;
   flex-shrink: 1;
   
}  
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradiant(
    to right top,
    rgb(148, 78, 206),
    rgb(121, 229, 213), 
  );
  border-radius: 2rem;
}
.login-options {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space;
}

.InstantSwap {
  background: rgba(255, 255, 255, 0);
  min-height: 30vh;
  width: 500px;
  top: 50px;
  right: 5px;
  left: -255px;
  border-radius: 2;
  box-shadow: 0 3px 10px rgba(0,0,0,5);
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  padding: 70px;
  border-radius: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: row;
} 
.MakeAnOffer {
  background: rgba(255, 255, 255, 0);
  min-height: 30vh;
  width: 500px;
  top: -250px;
  right: 5px;
  height: 100px;
  left: 300px;
  border-radius: 2;
  box-shadow: 0 3px 10px rgba(0,0,0,5);
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  padding: 70px;
  border-radius: 2rem;
  z-index: 4;
  display: flex;
  flex-direction: row;
} 

.defi {
  background: rgba(14, 9, 9, 0);
  min-height: 30vh;
  width: 1200px;
  top:-230px;
  border-radius: 2;
  box-shadow: 0 3px 10px rgba(0,0,0,5);
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  padding: 70px;
  background: linear-gradiant(
    to right bottom,
    rgba(148, 78, 206, 0.9),
    rgba(121, 229, 213, 0.8), 
  );
   border-radius: 2rem;
   z-index: 1;
   backdrop-filter: blur(2rem);
   display: flex;
   flex-shrink: 1;
}

.nft {
  background: rgba(14, 9, 9, 0);
  min-height: 30vh;
  width: 1200px;
  top: -210px;
  border-radius: 2;
  box-shadow: 0 3px 10px rgba(0,0,0,5);
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  padding: 70px;
  background: linear-gradiant(
    to right bottom,
    rgba(148, 78, 206, 0.9),
    rgba(121, 229, 213, 0.8), 
  );
   border-radius: 2rem;
   z-index: 1;
   backdrop-filter: blur(2rem);
   display: flex;
   flex-shrink: 1;
}   

.LandingButtons {
  button {
    text-align: left;
  }
}

.Inline {
  display: flex;
  align-items: center;
  position: relative;

  & > *:not(:last-child) {
    margin-right: 1rem;
  }
}

.LoadingBlock {
  margin-bottom: 1rem;
}

.InfoButtonWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.Section {
  margin-top: 3rem;
}

// Generic
.error {
  color: var(--color-error);
}

.success {
  color: var(--color-success);
}

.vertical-spacing {
  & > * {
    margin-bottom: 1rem;
  }
}

.horizontal-spacing {
  & > *:not(:first-child),
  & > *:not(:last-child) {
    margin-right: 1.5rem;
  }
}

// Account
.Account {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .AccountInfo {
    display: table;
    max-width: 276px;

    &:first-child {
      margin-bottom: 1rem;
      margin-right: 2rem;
    }

    .AccountInfoRow {
      display: table-row;
      height: 2rem;
    }

    .AccountInfoCell {
      display: table-cell;
      vertical-align: middle;

      button {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        text-align: left;
      }

      &.AccountLabel {
        text-transform: uppercase;
      }

      &.CopyButton {
        width: 3.75rem;
      }

      &:not(:last-child) {
        padding-right: 1rem;
      }
    }
  }

  @media (min-width: 1020px) {
    flex-direction: row;

    .AccountInfo {
      &:first-child {
        margin-bottom: 0;
      }
    }
  }
}

.AccountDetails {
  .AccountDetailsContent {
    padding: 1rem;
    font-weight: var(--font-weight-light);
    font-family: var(--font-family-monospace);
    font-size: 0.875rem;
    line-height: 1.375rem;
    word-break: break-word;
  }
}

.Balances {
  border-top: 1px solid var(--color-border-main);

  .BalanceRow {
    border-bottom: 1px solid var(--color-border-main);
    padding-top: 1rem;
    padding-bottom: 1rem;

    &.disabled {
      background-color: var(--color-background-off);
      cursor: not-allowed;

      .BalanceCell.BalanceInfo {
        opacity: 0.6;
      }

      a {
        pointer-events: none;
      }
    }

    &.active {
      background-color: #dfd8ff;
    }
  }

  .BalanceCell {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    & > :not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &.BalanceInfo {
      .BalanceAmount {
        font-size: 1.1em;
        font-weight: var(--font-weight-medium);

        &.error {
          font-weight: var(--font-weight-normal);
        }
      }

      .BalanceOptions {
        margin-top: 0.3rem;
        display: flex;
        align-items: center;
        position: relative;

        & > *:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
    }

    &.BalanceActions {
      .BalanceCellSelect {
        display: flex;
        align-items: center;

        & > :first-child {
          margin-right: 0.5rem;
        }
      }

      .CustomCell {
        display: flex;
        align-items: center;
      }
    }
  }

  @media (min-width: 1260px) {
    .BalanceRow {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .BalanceCell {
      &:not(:last-child) {
        margin-bottom: 0;
      }

      & > :not(:last-child) {
        margin-bottom: 0;
      }

      &.BalanceActions {
        display: flex;

        .BalanceCellSelect {
          width: 14rem;
          flex-grow: 0;
          flex-shrink: 0;
        }

        .CustomCell {
          &:not(:last-child) {
            margin-right: 1rem;
          }

          justify-content: flex-end;
        }
      }
    }
  }
}

.ClaimableBalances {
  margin-top: 3rem;
}

.BalancesButtons {
  margin-top: 1.5rem;
}

// Logs
.Logs {
  background-color: var(--color-background-off);
  overflow: auto;
  display: flex;
  flex-direction: column;

  .LogsWrapper {
    position: relative;
    flex-grow: 1;
  }

  .ContentWrapper {
    flex-direction: column-reverse;
  }

  .LogsFooter {
    background-color: var(--color-background-main);
    border: 1px solid var(--color-border-main);

    .Inset {
      @include header-footer-inset;

      a:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  .LogsContent {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .EmptyLogsContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    color: var(--color-note);
  }

  .LogItem {
    margin-bottom: 1rem;
  }
}

.SessionParamsWrapper {
  display: flex;
  margin-top: -0.5rem;
}

// Configuration
.ConfigurationItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Old styles

.Content {
  flex-grow: 1;
  flex-shrink: 0;
}

.Block {
  & > * {
    margin-bottom: 1rem;
  }
}

.SendForm {
  max-width: 600px;
  margin-bottom: 1rem;
}

.SendFormButtons {
  display: flex;
  align-items: center;

  & > * {
    margin-right: 1rem;
  }
}

/*All CSS for Theme/Logs/Nav Bar*/
.ham {
  font-size: 2rem;
  opacity: 0.4;
  margin-right: -1.5rem;
  cursor: pointer;
}
#log-title {
  display: none;
}
#logs {
  width: 0;
  transition: width 0.5s ease;
}
#logs1 {
  width: 0;
  transition: width 0.5s ease;
}
#wrap-log {
  display: none;
}
#item-nav {
  text-decoration: none;
  color: rgb(241, 237, 237);
}
.sidenav {
  height: 100%;
  position: fixed;
  width: 27%;
  margin-left: -22rem;
  z-index: 100;
  top: 0;
  left: 0;
  /*background-color: rgb(65, 61, 61);*/
  background-color: #f5f6f7;
  font-size: 0.9em;
  overflow-x: hidden;
  padding-top: 60px;
  transition: all 0.5s;
}
#mySidenav {
  margin-left: -22rem;
  overflow-y: hidden;
}
#openNav2 {
  display: none;
}
.sidenav a {
  margin-top: 25px;
  font-size: 12px;
  padding-top: 4px;
  margin-left: 1rem;
  color: #3d4449;
  line-height: 20px;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  font-family: "Roboto Slab";
  font-weight: 600;
  display: block;
  transition: 0.2s;
}
.sidenav a:hover {
  color: #79e5d5;
}

.closebtn {
  position: absolute;
  top: 1.7rem;
  color: black;
  right: 1rem;
  text-decoration: none;
  font-size: 2.5rem;
  margin-left: 50px;
  background: none;
  border: none;
}
hr {
  margin-left: 17px;
  width: 18rem;
  height: 2px;
  margin-top: 13px;
  color: grey;
}
.menu {
  position: absolute;
  top: 2.4rem;
  left: 1rem;
  font-size: 21px;
  font-family: "Roboto Slab";
  font-weight: 700;
  line-height: 28px;
}
.menu-hr {
  width: 4rem;
  background: #4ccec8;
  height: 0.2rem;
  margin-left: 15px;
  margin-top: 7px;
}
.menu-hr-purple {
  width: 4rem;
  background: rgb(148, 78, 206);
  height: 0.3rem;
  margin-left: 15px;
  margin-top: 2px;
}
.contact-hr {
  width: 7.5rem;
  background: #4ccec8;
  height: 0.2rem;
  margin-left: 15px;
  margin-top: 7px;
}
.contact-hr-purple {
  width: 7.5rem;
  background: #944ece;
  height: 0.3rem;
  margin-left: 15px;
  margin-top: 2px;
}

#menu-end-hr {
  margin-left: 17px;
  margin-top: 50px;
  width: 18rem;
  height: 2px;
  color: grey;
}
.contact {
  position: absolute;
  top: 27.7rem;
  left: 1rem;
  font-size: 21px;
  font-family: "Roboto Slab";
  font-weight: 700;
  line-height: 28px;
}
.contact-footer1 {
  color: #7f888f;
  padding: 18px;
}
.pure-material-switch {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgb(39, 36, 36);
  font-family: var(
    --pure-material-font,
    "Roboto",
    "Segoe UI",
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
  font-size: 16px;
  line-height: 1.5;
}

/* Input */
.pure-material-switch > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  right: 6px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(39, 36, 36);
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}

/* Span */
.pure-material-switch > span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Track */
.pure-material-switch > span::before {
  content: "";
  float: right;
  display: inline-block;
  margin: 5px 0 5px 10px;
  border-radius: 7px;
  width: 36px;
  height: 14px;
  background-color: rgb(39, 36, 36);
  vertical-align: top;
  transition: background-color 0.2s, opacity 0.2s;
}

/* Thumb */
.pure-material-switch > span::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 16px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s, transform 0.2s;
}

/* Checked */
.pure-material-switch > input:checked {
  right: -10px;
  background-color: rgb(121, 229, 213);
}

.pure-material-switch > input:checked + span::before {
  background-color: rgb(121, 229, 213);
}

.pure-material-switch > input:checked + span::after {
  background-color: rgb(121, 229, 213);
  transform: translateX(16px);
}

/* Hover, Focus */
.pure-material-switch:hover > input {
  opacity: 0.04;
}

.pure-material-switch > input:focus {
  opacity: 0.12;
}

.pure-material-switch:hover > input:focus {
  opacity: 0.16;
}

/* Active */
.pure-material-switch > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.pure-material-switch > input:active + span::before {
  background-color: rgb(121, 229, 213);
}

.pure-material-switch > input:checked:active + span::before {
  background-color: rgb(39, 36, 36);
}

/* Disabled */
.pure-material-switch > input:disabled {
  opacity: 0;
}

.pure-material-switch > input:disabled + span {
  color: rgb(39, 36, 36);
  opacity: 0.38;
  cursor: default;
}

.pure-material-switch > input:disabled + span::before {
  background-color: rgb(39, 36, 36);
}

.pure-material-switch > input:checked:disabled + span::before {
  background-color: rgb(121, 229, 213);
}

.dark {
  background-color: rgb(39, 36, 36);
  color: #ffff;
}
#dark-logo {
  display: none;
}
#plogo {
  margin-right: 70%;
  transition: all 0.5s;
  margin-top: -4px;
}
.mt-4{
  margin-left:-4rem;
}

/*purple and blue horizontals*/
.blue-hr {
  margin-bottom: 14px;
  width: 99%;
  margin-top: -5px;
  margin-left: 10px;
  height: 4px;
  position: absolute;
  top: 10.5%;
  background: #79e5d5;
}
.purple-hr {
  margin-bottom: 14px;
  width: 99%;
  margin-left: 10px;
  margin-top: -11px;
  height: 8px;
  position: absolute;
  top: 12%;
  background: rgb(148, 78, 206);
}
.ModalWrapper {
  width: 100%;
}
.logo-img{
  margin-left: 2rem;
  width: 41%;
  margin-top: -2px;
}
#sign-out{
  margin-top: -7px;
}
#sign-out-text{
  color:rgb(148, 78, 206);
}
#mbdy{
  color:#111;
}